/* partials/_main.scss */
body{
	padding-top: 130px;
}

/* partials/_top.scss */
form.reserva{
	&.-top{
		height: 5em !important;
		font-size: 1.4rem;
		position: fixed;
		top: 60px;
		left: 0;
		z-index: 140;
		.container{
			width: auto;
			padding: 0;
			> ul{
				> li{
					&.people{
						padding-left: 0;
					}
				}
			}
		}
					h3{
						font-size: 1.7rem;
					}
	}
}

/* partials/_featured.scss */
section.featured{
	.swiper-slide{
		background-size: cover;
	}
}

/* partials/_all-inclusive.scss */
section.all-inclusive{
	.title{
		h1{
			line-height: 100%;
			&:before{
				top: -30%;
			}
		}
	}
}
