/* partials/_main.scss */
body{

}

/* partials/_top.scss */
header.top{
	background: $yellow;
	h1.logo{
		width: 140px;
		height: 5em;
	}
	.holder-menu{
		font-size: 1rem;
		top: 5em;
	}
	.btn-menu{
		width: 50px;
		position: absolute;
		top: 50%;
		right: 10px;
		left: inherit;
		background: transparent;
		border: 0;
		@include translate(0, -50%);
		span.hamburguer{
			left: 50%;
			@include sprite($sprite, mobile-hamburguer, true);
			@include translate(-50%, -50%);
		}
	}
	nav.lang{
		position: absolute;
		top: 50%;
		right: 70px;
		@include translate(0, -50%);
		span.current{
			&:after{
				@include sprite($sprite, arrow-white-down, true);
			}
		}
	}
}

form.reserva{
	&.-top{
		margin-top: 5em;
		font-size: 1rem;
		height: 80px;
		overflow: hidden;
		text-align: center;
		position: relative;
		z-index: 10;
		&.-active{
			overflow: inherit;
		}
		.container > ul{
			width: 200px;
			margin: auto;
			> li{
				margin: 0;
				list-style: none;
				display: inline-block;
				&:first-child{
					&:after{
						content: "";
						position: absolute;
						float: left;
						background-image: $sprite;
						top: 50%;
						right: -20px;
						@include sprite($sprite, arrow-down, true);
						@include translate(0, -50%);
					}
				}
				&.dates{
					> div{
						padding-right: 0;
						&:first-child{
							margin-bottom: 10px;
						}
						.calendar{
							padding-right: 0;
						}
					}
				}
				&.people{
					label{
						display: block;
						float: none;
						text-align: left;
					}
				}
				&.plus{
					padding-bottom: 3em;
					> div{
						height: auto;
					}
						a{
							height: auto;
							padding-bottom: 10px;
						}
				}
				&.submit{
					padding: 0 15px;
				}
			}
		}
				h3{
					font-size: 2.4rem;
					margin: 0.7em 0;
					span{
						font-size: 3.6rem;
					}
				}
				button.search{
					width: 100%;
					margin: 0 0 5px;
				}
		em.error{
			right: 0;
			top: -25%;
		}
	}
}

/* partials/_featured.scss */
section.featured{
	.swiper-slide{
		background-size: cover;
	}
	.holder{
		width: 70%;
		bottom: 40px;
		button.prev, button.next{
			display: none;
		}
	}
}

/* partials/_inner.scss */
section.inner, section.read{
	> header{
		background-size: cover;
	}
}

/* partials/_home.scss */
section.home{
	section.destination{
		> header{
			h1{
				padding-top: 1em;
				font-size: 2.4rem;
				&:before, &:after{
					transform-origin: 0;
					top: -165px;
				}
				&:before{
					left: -50px;
					transform: scale(0.3) translate(-50%, 0);
					-o-transform: scale(0.3) translate(-50%, 0);
					-ms-transform: scale(0.3) translate(-50%, 0);
					-webkit-transform: scale(0.3) translate(-50%, 0);
				}
				&:after{
					right: inherit;
					left: 50px;
					transform: scale3d(-0.3, 0.3, 1) translate(-50%, 0);
					-o-transform: scale3d(-0.3, 0.3, 1) translate(-50%, 0);
					-ms-transform: scale3d(-0.3, 0.3, 1) translate(-50%, 0);
					-webkit-transform: scale3d(-0.3, 0.3, 1) translate(-50%, 0);
				}
			}
			h2{
				font-size: 6rem;
			}
		}
	}
	section.paraibadisiaco{
		> .container{
			padding: 0;
		}
		> header{
			h1{
				font-size: 3rem;
				span{
					&:before, &:after{
						top: -25px;
					}
					&:before{
						right: 85%;
						@include scale(0.3);
					}
					&:after{
						left: 85%;
						@include scale3d(-0.3, 0.3, 1);
					}
				}
			}
			h2{
				font-size: 3rem;
				margin: 0;
				padding: 0.5em 0;
			}
		}
		article{
			width: 100% !important;
			height: 250px !important;
		}
	}
}

/* partials/_resort.scss */
section.resort{
	.container{
		padding: 0;
	}
	ul.espec{
		li{
			height: 140px;
			&:after{
				bottom: -30px;
				left: 50%;
				@include rotate(90deg);
				//transform: rotate(90deg) translate(-50%, 0%);
			}
			&:last-child{
				padding-bottom: 0;
				height: 120px;
			}
		}
	}
	.areas{
		> h1{
			font-size: 4.8rem;
		}
	}
}

/* partials/_pacotes.scss */
section.pacotes{
	&.inner{
		.title{
			h1{
				margin: 0;
			}
		}
		.post{
			padding: 1.5em 0;
		}
		.main{
			aside{
				padding-left: 15px;
				margin-bottom: 1em;
			}
			.-list{
				.button-default{
					font-size: 1.5rem;
				}
			}
		}
	}
	&.read{
		.title{
			h1{
				margin: 0 0 0.5em;
			}
		}
	}
}

/* partials/_localizacao.scss */
section.localizacao{
	.subtitle{
		font-size: 4.8rem;
	}
	.map{
		nav{
			button{
				font-size: 0.8rem;
			}
		}
	}
	.paraibadisiaco{
		> .container{
			padding: 0;
		}
	}
}

/* partials/_all-inclusive.scss */
section.all-inclusive{
	.tabs{
		> h1{
			font-size: 4.8rem;
		}
	}
}

/* partials/_galeria.scss */
section.galeria{
	.title{

	}
}

/* partials/_checkin.scss */
section.checkin{
	form{
		> fieldset{
			ul{
				li{
					padding: 0;
					text-align: center;
				}
			}
					input[type="submit"], button.more-people{
						float: none;
						margin: auto;
						display: inline-block;
					}
					input[type="submit"]{
						margin-bottom: 1em;
					}
		}
	}
}

/* partials/_contato.scss */
section.contato{
	form{
		> h1{
			font-size: 4.8rem;
		}
	}
}

/* partials/_footer.scss */
section.tripadvisor{
	h1.logo{
		img{
			width: 60%;
		}
	}
	.review{
		blockquote{
			margin-bottom: 0.5em;
		}
	}
}

form.newsletter{
	h1{

	}
}

section.footer-social{
	> .container{
		padding: 0;
	}
	h1{
		text-align: center;
		font-size: 2.4rem;
		&:before{
			left: 15%;
		}
	}
	.facebook{
		margin-bottom: 2em;
	}
	.instagram{
		h1{
			margin-bottom: 1em;
		}
	}
}

footer.footer{
	h1.partners{
		text-align: center;
		img{
			width: 70%;
			height: auto;
		}
	}
}
