/* partials/_top.scss */
form.reserva{
	&.-top{
		.container > ul{
			> li{
				&.people{
					padding-left: 0;
				}
			}
		}
	}
}

/* partials/_all-inclusive.scss */
section.all-inclusive{
	.title{
		h1{
			line-height: 100%;
			&:before{
				top: -30%;
			}
		}
	}
}
