section.contato{
	float: left;
	width: 100%;
	.address{
		h2{
			font-size: 1.8rem;
			font-weight: 600;
			margin-bottom: 1em;
		}
		p{
			font-size: 1.8rem;
			margin-bottom: 1em;
		}
		ul.emails{
			padding: 1em 0 0;
			margin-bottom: 0;
			li{
				list-style: none;
				font-size: 1.4rem;
				margin-bottom: 2em;
				h3{
					font-size: 1.4rem;
					color: $blue;
					margin: 0;
				}
			}
		}
	}
	form{
		> h1{
			text-align: center;
			color: $yellow;
			font-family: "TrashHand";
			font-size: 11.5rem;
			margin: 0.2em 0;
			line-height: 100%;
		}
		ul{
			padding-left: 0;
			padding-right: 0;
			li{
				list-style: none;
				margin-bottom: 1.5em;
				position: relative;
			}
		}
				label{
					display: block;
					color: $blue;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 1.4rem;
					padding-bottom: 0.5em;
				}
				input[type="text"], input[type="email"], textarea{
					width: 100%;
					font-size: 1.4rem;
					padding: 1em;
					background: #f5f5f5;
					border: 0;
					color: #222;
					outline: none;
					@include border-radius(4px);
					@include transition(0.15s ease-out);
					&:focus{
						background: #e5e4e4;
					}
				}
				textarea{
					height: 200px;
				}
				input[type="submit"]{
					float: right;
					padding-left: 2.5em;
					padding-right: 2.5em;
				}
	}
}
