section.tripadvisor{
	padding: 3em 0;
	float: left;
	width: 100%;
	h1.logo{
		margin: 0;
		text-align: center;
		img{
			width: 80%;
			height: auto;
		}
	}
	.review{
		text-align: center;
		blockquote{
			border: 0;
			p{
				line-height: 100%;
				font-style: italic;
				font-weight: 600;
				color: $green;
				margin: 0.8em 0 0.5em;
				font-size: 2.4rem;
			}
			a{
				font-size: 1.4rem;
				color: $black;
				text-transform: uppercase;
				font-style: normal;
			}
		}
	}
}

form.newsletter{
	float: left;
	width: 100%;
	background: #f5f5f5;
	border-bottom: 1px solid $yellow;
	padding: 3em 0;
	h1{
		margin: 0;
		font-size: 1.4rem;
		color: $blue;
		text-transform: uppercase;
		text-align: center;
		font-weight: 400;
		span{
			color: $yellow;
			font-family: "TrashHand";
			font-size: 6rem;
			display: block;
			line-height: 90%;
		}
	}
	fieldset{
		padding: 0.8em 0;

	}
		.holder{
			position: relative;
		}
		em.error{
			top: -25%;
		}
		input[type="email"]{
			width: 100%;
			padding: 1em 4.5em 1em 0.7em;
			font-size: 1.2rem;
			border: 1px solid #e0e0e0;
			outline: none;
			@include border-radius(3px);
		}
		button.glyphicon{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			padding: 0 1em;
			background-color: $yellow;
			color: #fff;
			border: 1px solid #e0e0e0;
			border-left: 0;
			font-size: 2rem;
			outline: none;
			@include transition(0.15s ease-out);
			@include border-radius(3px);
			&:hover{
				background: $dark-yellow;
			}
		}
}

section.footer-social{
	padding: 2em 0 3em;
	border-bottom: 1px solid $yellow;
	float: left;
	width: 100%;
	h1{
		text-transform: uppercase;
		color: $yellow;
		font-weight: 600;
		padding-left: 65px;
		position: relative;
		font-size: 2.4rem;
		&:before{
			content: "";
			background-image: $sprite;
			position: absolute;
			top: 50%;
			left: 0;
			@include translate(0, -50%);
		}
	}
	.facebook{
		h1{
			margin-bottom: 2em;
			&:before{
				@include sprite($sprite, facebook, true);
			}
		}
	}
	.instagram{
		h1{
			margin-bottom: 2em;
			&:before{
				@include sprite($sprite, instagram, true);
			}
		}
	}
}

footer.footer{
	float: left;
	width: 100%;
	padding: 2em 0;
	text-align: center;
	h1.partners{
		margin: 0 0 5px;
	}
	p{
		font-size: 1.2rem;
	}
}
