section.galeria{
	.title{
		h1{
			line-height: 100%;
			margin: 1em 0 0.5em;
			&:before{
				top: -40%;
			}
		}
	}
	.album{
		article{
			height: 220px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			position: relative;
			a{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			span.brackets{
				content: "";
				position: absolute;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/destino-hover.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			h1{
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				color: #fff;
				font-size: 2.4rem;
				text-transform: uppercase;
				@include translate(-50%, -50%);
			}
		}
	}
}
