section.home{
	section.destination{
		float: left;
		width: 100%;
		> header{
			text-align: center;
			h1{
				color: $blue;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 3.7rem;
				margin: 0.5em 0 0;
    		line-height: 80%;
				position: relative;
				&:before, &:after{
					content: "";
					position: absolute;
					width: 280px;
					height: 280px;
					top: -185px;
					z-index: 10;
					background-image: url(../img/flower.png);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
				}
				&:before{
					left: 0;
				}
				&:after{
					right: 0;
					@include scaleX(-1);
				}
			}
			h2{
				color: $yellow;
				font-family: "TrashHand";
				font-size: 10.3rem;
				margin: 0;
			}
		}
		article{
			padding: 0;
			min-height: 300px;
			text-align: center;
			position: relative;
			a{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
			}
			span.brackets{
				position: absolute;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/destino-hover.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 75%;
				height: auto;
				@include translate(-50%, -50%);
			}
		}
	}
	section.paraibadisiaco{
		> header{
			text-align: center;
			h1{
				float: left;
				width: 100%;
				font-family: "TrashHand";
				color: #fff;
				font-size: 4.8rem;
				letter-spacing: 5px;
				padding: 1em 0;
				margin: 0;
				background: url(../img/paraibadisiaco-bg.jpg) no-repeat center;
				background-size: cover;
				span{
					position: relative;
					&:before, &:after{
						content: "";
						position: absolute;
						top: -10px;
						background-image: url(../img/flower-small.png);
						background-repeat: no-repeat;
						background-size: cover;
						width: 112px;
						height: 76px;
					}
					&:before{
						right: 130%;
					}
					&:after{
						left: 130%;
						@include scaleX(-1);
					}
				}
			}
			h2{
				float: left;
				width: 100%;
				color: $yellow;
				font-size: 3.6rem;
				padding: 1em 0;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: 500;
				span{
					font-weight: 400;
				}
			}
		}
		article{
			text-align: center;
			height: 400px;
			color: #fff;
			position: relative;
			float: left;
			width: 25%;
			overflow: hidden;
			background-position: center;
			background-size: cover;
			&.-active{
				> h1{
					bottom: -4em;
				}
				.holder{
					top: 50%;
					@include opacity(1);
				}
				span.overlay{
					@include opacity(0.4);
				}
			}
			> h1{
				font-size: 1.8rem;
				position: absolute;
				bottom: 1em;
				left: 1em;
				text-transform: uppercase;
				text-align: left;
				@include transition(0.15s ease-out);
			}
			.holder{
				position: absolute;
				top: 0%;
				left: 50%;
				z-index: 10;
				min-width: 250px;
				@include transition(0.3s ease-out);
				@include translate(-50%, -50%);
				@include opacity(0);
				h2{
					font-size: 1.8rem;
					text-transform: uppercase;
				}
			}
			span.overlay{
				background: #000;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(0.15s ease-out);
				@include opacity(0);
			}
		}
	}
}
