.localizacao{
	h1.subtitle{
		text-align: center;
		color: $yellow;
		font-family: "TrashHand";
		font-size: 11.5rem;
		margin: 0.2em 0;
		line-height: 100%;
	}
	.map{
		float: left;
		width: 100%;
		nav{
			button{
				background: #fff;
				padding: 1.5em;
				font-size: 1.4rem;
				text-transform: uppercase;
				font-weight: 600;
				border: 1px solid $yellow;
				color: $yellow;
				float: left;
				width: 33.33%;
				border-right-width: 0;
				outline: none;
				line-height: 100%;
				@include transition(0.15s ease-out);
				&:last-child{
					border-right-width: 1px;
				}
				&.-active{
					background: $yellow;
					color: #fff;
				}
			}
		}
	}
		#google-map{
			height: 460px;
			width: 100%;
			float: left;
		}
	.paraibadisiaco{
		float: left;
		width: 100%;
		.swiper-container{
			margin-bottom: 2em;
			width: 100%;
			float: left;
			.swiper-slide{
				padding: 0;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
