section.pacotes{
	&.inner{
		.post{
			padding: 3em 0;
		}
	}
	&.read{
		.post{

		}
		header.thumb{
			margin-bottom: 2em;
			h1{
				background: $blue;
				color: #fff;
				padding: 1.5em;
				font-size: 1.4rem;
				text-transform: uppercase;
				margin: 0;
			}
			img{
				width: 100%;
				height: auto;
			}
		}
		.center{
			text-align: center;
		}
			a.button-default{
				display: inline-block;
			}
		.-list{
			margin-top: 1em;
			> h2{
				color: $yellow;
				margin: 1em 15px;
				text-transform: uppercase;
				font-size: 1.8rem;
			}
			article{
				.thumb{

				}
				.holder{
					a.button-default{
						font-size: 1.4rem;
					}
				}
				a.permalink{
					font-size: 1.2rem;
					padding: 1em;
				}
			}
		}
	}
	.title{
		h1{
			margin: 0.5em 0 1em;
			&:before{
				top: -60%;
			}
		}
	}
	.main{
		float: left;
		width: 100%;
	}
		aside{
			padding-left: 0;
			> ul{
				padding: 0;
				margin: 0;
				> li{
					list-style: none;
					&.-active{
						ul.submenu{
							display: block;
						}
					}
					> a{
						background: $yellow;
						text-transform: uppercase;
						color: #fff;
						font-weight: 600;
						font-size: 1.8rem;
						padding: 1em;
						display: block;
						position: relative;
						&:after{
							content: "";
							background-image: $sprite;
							position: absolute;
							top: 50%;
							right: 20px;
							@include translate(0, -50%);
							@include sprite($sprite, arrow-white-down, true);
						}
					}
				}
			}
					ul.submenu{
						padding: 0;
						margin: 0;
						display: none;
						overflow: hidden;
						li{
							list-style: none;
							a{
								color: $blue;
								text-transform: uppercase;
								font-size: 1.4rem;
								padding: 0.5em 1em;
								display: block;
							}
							&:first-child{
								a{
									padding-top: 1.5em;
								}
							}
							&:last-child{
								a{
									padding-bottom: 1.5em;
								}
							}
						}
					}
		}
		.-list{
			article{
				margin-bottom: 2em;
				&:hover{
					.thumb{

					}
						.holder{
							@include opacity(1);
						}
						a.overlay{
							height: 100%;
						}
				}
				.thumb{
					position: relative;
					img{
						width: 100%;
						height: auto;
					}
				}
					.holder{
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 10;
						@include transition(0.15s ease-out);
						@include opacity(0);
						@include translate(-50%, -50%);
					}
					a.overlay{
						width: 100%;
						height: 50%;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 5;
						@include gradient-vertical(transparent, #000);
						@include transition(0.15s ease-out);
						@include opacity(0.6);
					}
				a.permalink{
					background: $blue;
					color: #fff;
					padding: 1.5em;
					font-size: 1.4rem;
					text-transform: uppercase;
					display: block;
					@include transition(0.15s ease-out);
					&:hover{
						background: $yellow;
					}
				}
			}
		}
}
