.post{
	h1, h2, h3, h4{
		text-transform: uppercase;
		font-weight: 600;
		color: $yellow;
		margin: 0.5em 0;
	}
	h1{ font-size: 6.0rem; }
	h2{ font-size: 4.6rem; }
	h3{ font-size: 3.2rem; }
	h4{ font-size: 1.8rem; }
	p{
		font-size: 1.4rem;
		margin-bottom: 1em;
		line-height: 180%;
	}
	ul{
		li{
			line-height: 180%;
		}
	}
}
