section.resort{
	overflow: hidden;
	float: left;
	width: 100%;
	.post{

	}
	&.acomodacoes{
		.post{
			ul{
				padding-left: 0;
				li{
					list-style: none;
				}
			}
		}
		ul.espec{
			li{
				&.area{

				}
				&.capacidade{
					span{
						line-height: 70%;
					}
					span:nth-child(1), span:nth-child(3){
						display: block;
						font-size: 2.4rem;
					}
					span:nth-child(2){
						font-size: 12rem;
					}
				}
				&.estrutura{
					position: relative;
					text-align: left;
					span:first-child{
						font-size: 12rem;
						line-height: 100%;
						display: block;
					}
					span:last-child{
						font-size: 2.4rem;
						width: 250px;
						line-height: 100%;
						position: absolute;
						left: 85px;
						top: 50%;
						@include translate(0, -50%);
					}
				}
			}
		}
	}
	ul.espec{
		font-family: "TrashHand";
		padding: 0;
		float: left;
		width: 100%;
		li{
			list-style: none;
			color: $blue;
			text-align: center;
			height: 120px;
			position: relative;
			&:after{
				content: "|";
				position: absolute;
				top: 50%;
				left: 100%;
				font-size: 10rem;
				color: $yellow;
				@include translate(-50%, -50%);
			}
			&:last-child{
				&:after{
					content: "";
				}
			}
			&.area{
				span{
					line-height: 100%;
					&:first-child{
						font-size: 12rem;
					}
					&:last-child{
						font-size: 3rem;
					}
				}
			}
			&.bangalo{
				span{
					line-height: 70%;
					&:first-child{
						font-size: 12rem;
					}
					&:last-child{
						display: block;
						font-size: 2.4rem;
					}
				}
			}
			&.estrutura{
				span{
					line-height: 120%;
					font-size: 3rem;
				}
			}
		}
	}
}
